In [2]:
import pandas as pd

In [15]:
peseu_data = pd.read_csv('peseu_data.csv')
nem = pd.read_csv('nem.csv')

In [17]:
peseu_data = peseu_data.join(nem.set_index('id'),on='id')

In [18]:
peseu_data.to_csv('peseu_data2.csv', index=False, header=peseu_data.columns.values)

In [19]:
peseu_data = pd.read_csv('carreras.tsv', sep='\t')
areas = pd.read_csv('areas.tsv',sep='\t')
areas

    id                      title
0    1  Administración y comercio
1    2               Agropecuaria
2    3        Arte y Arquitectura
3    4           Ciencias Básicas
4    5          Ciencias Sociales
5    6                    Derecho
6    7                  Educación
7    8                Humanidades
8    9                      Salud
9   10          Sin área definida
10  11                 Tecnología

In [20]:
peseu_data = peseu_data.join(areas.set_index('title'),on='Área',rsuffix='_area')

In [21]:
peseu_data.to_csv('carreras2.csv', index=False, header=peseu_data.columns.values)